<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" contenido="IE=edge">
    <meta name="viewport" contenido="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    <link rel="icon" type="image/ico" href="../static/img/icono.ico" />
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/noticias-cards.css">

</head>

<body onload="onLoad()">
    <input type="checkbox" id="toggle" name="toggle">

    <ul class="menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="formulario.html">Contacto</a></li>
        <li><a href="nosotros.html">Nosotros</a></li>
        <li><a href="objetivos.html">Objetivos</a></li>
    </ul>

    <div class="navbar" style="padding-left: 20px;">
        <div class="logo">
            <a href="index.html"><img src="/IMG/logo.png" alt="" style="width: 80px; "></a>
        </div>
        <label for="toggle">Menú</label>
    </div>

    <!-- Hay q agregar el api getOne para cargar la imagen ;) -->
    <section class="contenido">
        <div class="card">
            <div class="info">
                <span class="title" id="title">

                </span>

                <!-- <p class="description"> -->
                <span class="copete" id="copete">
                    <!-- <br><b>¿Cuáles son los beneficios y los aportes para el medioambiente?</b><br> -->
                </span>
                <span class="cuerpo" id="cuerpo">

                    <!-- <br>Para obtener mayor información puede visitar el sitio web de la Ciudad de Buenos Aires:
                        <a id="referencia" target="_blank"
                            href="https://buenosaires.gob.ar/desarrollourbano/manualdedisenourbano/paisaje-urbano-verde/terrazas-y-muros-verdes/terrazas-verdes"
                            style="text-decoration: underline;"><b>"Desarrollo Urbano"</b></a>
                        <br>
                        <br> -->
                </span>
                <span class="img" id="img"></span>

                <a class="accion" href="ApiGetAllNews_Crud.html">Regresar</a>
            </div>
        </div>
    </section>
    <script src="../static/js/apiNews_GetOne.js"></script>
</body>

</html>



<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" contenido="IE=edge">
    <meta name="viewport" contenido="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    <link rel="icon" type="image/ico" href="../static/img/icono.ico" />
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/noticias-cards.css">

</head>

<body onload="onLoad()">
    <input type="checkbox" id="toggle" name="toggle">

    <ul class="menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="formulario.html">Contacto</a></li>
        <li><a href="nosotros.html">Nosotros</a></li>
        <li><a href="objetivos.html">Objetivos</a></li>
    </ul>

    <div class="navbar" style="padding-left: 20px;">
        <div class="logo">
            <a href="index.html"><img src="/IMG/logo.png" alt="" style="width: 80px; "></a>
        </div>
        <label for="toggle">Menú</label>
    </div>

    <!-- Hay q agregar el api getOne para cargar la imagen ;) -->
    <section class="contenido">
        <div class="card">
            <div class="info">
                <span class="title" id="title">

                </span>

                <!-- <p class="description"> -->
                <span class="copete" id="copete">
                    <!-- <br><b>¿Cuáles son los beneficios y los aportes para el medioambiente?</b><br> -->
                </span>
                <span class="cuerpo" id="cuerpo">

                    <!-- <br>Para obtener mayor información puede visitar el sitio web de la Ciudad de Buenos Aires:
                        <a id="referencia" target="_blank"
                            href="https://buenosaires.gob.ar/desarrollourbano/manualdedisenourbano/paisaje-urbano-verde/terrazas-y-muros-verdes/terrazas-verdes"
                            style="text-decoration: underline;"><b>"Desarrollo Urbano"</b></a>
                        <br>
                        <br> -->
                </span>
                <span class="img" id="img"></span>

                <a class="accion" href="ApiGetAllNews_Crud.html">Regresar</a>
            </div>
        </div>
    </section>
    <script src="../static/js/apiNews_GetOne.js"></script>
</body>

</html>