<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" contenido="IE=edge">
    <meta name="viewport" contenido="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    <link rel="icon" type="image/ico" href="../static/img/icono.ico" />
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/noticias-cards.css">
    <link rel="stylesheet" href="../static/css/listaCrud.css">

</head>

<body>


    <input type="checkbox" id="toggle" name="toggle">

    <ul class="menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="formulario.html">Contacto</a></li>
        <li><a href="nosotros.html">Nosotros</a></li>
        <li><a href="objetivos.html">Objetivos</a></li>
        <li><a href="crud.html">CRUD Noticias</a></li>
    </ul>

    <div class="navbar" style="padding-left: 20px;">
        <div class="logo">
            <a href="index.html"><img src="../static/img/logo.png" alt="" style="width: 80px; "></a>
        </div>
        <label for="toggle">Menú</label>
    </div>


    <section class="contenido">
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titular</th>
                        <th>Copete</th>
                        <th>Cuerpo</th>
                        <th>Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="noticia in noticias" class="">
                        <td scope="row">{{noticia.id}}</td>
                        <td>{{noticia.titular}}</td>
                        <td>{{noticia.copete}}</td>
                        <td>{{noticia.cuerpo}}</td>
                        <td><img width="60" :src="noticia.imagen" :alt="Imagen"></td>
                        <td>

                            <button class="modificar"> <a
                                    :href="'noticia_editar.html?id='+ noticia.id+'&titular=' +noticia.titutar+ '&copete='+noticia.copete+'&cuerpo='+noticia.cuerpo +  '&imagen='+noticia.imagen">Modificar</a>
                            </button>

                            <!-- <button class="eliminar" v-on:click="eliminar(producto.id)"> Eliminar
                            </button> -->


                            <button class="eliminar" onclick="openModal()">Eliminar</button>

                            <!-- Modal -->
                            <div id="myModal" class="modal">
                                <div class="modal-content">
                                    <h2>¿Seguro que deseas eliminar la noticia?</h2>
                                    <div class="modal-buttons">
                                        <button class="btn-confirmar"
                                            v-on:click="eliminar(noticia.id)">Eliminar</button>
                                        <button class="btn-cancelar" onclick="closeModal()">Cancelar</button>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                <tbody>
            </table>
        </div>
    </section>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../static/js/noticiasGetAll.js"></script>
    <script src="../static/js/modal.js"></script>
    <script src="../static/js/main.js"></script>

</body>

</html>