.contuchi {
  max-width: 800px;
  margin: 200px auto 0;
  padding: 20px;
  background-color: #ffffff;
}

table {
    font-family: sans-serif;
  }
  table th, table td {
    padding: 0.25em 0.5em;
    text-align: left;
  }
  table th:nth-child(2), table td:nth-child(2) {
    text-align: right;
  }
  table td {
    background-color: #a9a9a9;
  }
  table th {
    background-color: #111;
    color: #fff;
  }
  .zigzag {
    border-collapse: separate;
    border-spacing: 0.25em 1em;
  }
  .zigzag tbody tr:nth-child(odd) {
    transform: rotate(0deg);
  }
  .zigzag thead tr, .zigzag tbody tr:nth-child(even) {
    transform: rotate(-0deg);
  }















  .botonm {
    border: none;
    width: 120px;
    height: 35px;
    color: #ffffff;
    font-family: "Arial";
    letter-spacing: 1.2px;
    font-weight: bold;
    z-index: 1;
    display: flex;
    background: #000;
    position: relative;
   }
   
   .botonm p {
    margin: 0 auto;
    align-self: center;
    font-size: 1.5em;
    text-align: center;
   }
   
   .botonm::after, .botonm::before {
    position: absolute;
    content: "";
    width: 100%;
    z-index: -1;
    height: 10%;
    clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
    background: green;
    transition: 0.2s cubic-bezier(.02,.02,.23,.73);
   }
   
   .botonm::after {
    bottom: 0;
   }
   
   .botonm::before {
    transform: rotate(180deg);
   }
   
   .botonm:hover::after {
    clip-path: path('M0 199.88C8.33 270.71 16.67 306.13 25 306.13C37.5 306.13 35.91 231.4 50 231.13C64.09 230.85 62.5 284.25 75 284.25C87.5 284.25 87.17 208.05 100 212.38C112.83 216.7 112.71 300.8 125 300.47C137.29 300.13 137.76 239.04 150.48 237.38C163.19 235.71 162.16 293.63 174.54 293.63C182.79 293.63 191.28 262.38 200 199.88L200 0.13L0 0.13L0 199.88Z');
    height: 30%;
   }
   
   .botonm:hover::before {
    clip-path: path('M0 199.88C8.33 270.71 16.67 306.13 25 306.13C37.5 306.13 35.91 231.4 50 231.13C64.09 230.85 62.5 284.25 75 284.25C87.5 284.25 87.17 208.05 100 212.38C112.83 216.7 112.71 300.8 125 300.47C137.29 300.13 137.76 239.04 150.48 237.38C163.19 235.71 162.16 293.63 174.54 293.63C182.79 293.63 191.28 262.38 200 199.88L200 0.13L0 0.13L0 199.88Z');
    height: 100%;
   }
   
  














   .botone {
    border: none;
    width: 120px;
    height: 35px;
    color: #fff;
    font-family: "Arial";
    letter-spacing: 1.2px;
    font-weight: bold;
    z-index: 1;
    display: flex;
    background: #000;
    position: relative;
   }
   
   .botone p {
    margin: 0 auto;
    align-self: center;
    font-size: 1.5em;
    text-align: center;
   }
   
   .botone::after, .botone::before {
    position: absolute;
    content: "";
    width: 100%;
    z-index: -1;
    height: 10%;
    clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
    background: red;
    transition: 0.2s cubic-bezier(.02,.02,.23,.73);
   }
   
   .botone::after {
    bottom: 0;
   }
   
   .botone::before {
    transform: rotate(180deg);
   }
   
   .botone:hover::after {
    clip-path: path('M0 199.88C8.33 270.71 16.67 306.13 25 306.13C37.5 306.13 35.91 231.4 50 231.13C64.09 230.85 62.5 284.25 75 284.25C87.5 284.25 87.17 208.05 100 212.38C112.83 216.7 112.71 300.8 125 300.47C137.29 300.13 137.76 239.04 150.48 237.38C163.19 235.71 162.16 293.63 174.54 293.63C182.79 293.63 191.28 262.38 200 199.88L200 0.13L0 0.13L0 199.88Z');
    height: 30%;
   }
   
   .botone:hover::before {
    clip-path: path('M0 199.88C8.33 270.71 16.67 306.13 25 306.13C37.5 306.13 35.91 231.4 50 231.13C64.09 230.85 62.5 284.25 75 284.25C87.5 284.25 87.17 208.05 100 212.38C112.83 216.7 112.71 300.8 125 300.47C137.29 300.13 137.76 239.04 150.48 237.38C163.19 235.71 162.16 293.63 174.54 293.63C182.79 293.63 191.28 262.38 200 199.88L200 0.13L0 0.13L0 199.88Z');
    height: 100%;
   }
   

   a{
    text-decoration: none;
   }

   a:visited{
    text-decoration: none;
    color: #ffffff;
   }




















   .botonn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: #111;
    border: none;
    letter-spacing: 2px;
    font-size: 17px;
  }
  
  .botonn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fed306;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
  }
  
  .botonn:hover:before {
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1);
  }
  
  .botonn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #fed306;
    box-sizing: border-box;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(1);
  }
  
  .botonn:hover:after {
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(0);
  }